*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}
section{
    padding-top: 48px;
    padding-bottom: 48px;

}
h1{
    font-size: 2.96rem;
    margin-bottom: 24px;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    padding-top:1rem ;
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgrey;
  
}
#logo{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}
#logo,h1,h2,h3,h4,h5{
    font-family: 'Lora', serif;
    font-weight: 600;

}
p{
    color: rgb(61, 60, 60);
    max-width: 640px;
}
.buttonholder{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px;
    border-radius: 0.25rem;
    
}

.buttonprimary{
 
    background-color: black;
    color: white;
        
 


}
.buttonsecondary{
   
    color: black;
    border: 1px solid black;
}
.buttons{
    display: flex;
    flex-direction: column;
  
    gap: 0.5rem;
    margin-top: 2rem;

}



nav{
    display: none;
}
@media only screen and (min-width: 600px) {
   .buttons{
    display: flex;
    flex-direction: row;
   }
}
  @media only screen and (min-width: 768px) {
   .menuicon{
    display: none;
   }
   nav{
    display: block;
   }
   nav ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
   }
   nav a{
    text-decoration: none;
    color: rgb(54, 50, 50);
   }
  }
